@media (min-width: 1340) {

    .container header {
        height: 30%;
        display: flex;
    }

    .candidate-image {
        max-width: 48%;
        display: flex;
    }

    .candidate-image img {
        display: flex;
    }

    .candidate-personal-info .candidate-name h1 {
        display: flex;
        margin: 0;
        font-size: 28px;
        font-weight: 700;
    }

    .candidate-personal-info .candidate-name h2 {
        display: flex;
        font-size: 26px;
    }

    .candidate-contacts .phone-mail h3 {
        display: flex;
        font-size: 22px;
    }

    .candidate-contacts .phone-mail p {
        display: flex;
        font-size: 18px;
    }

    .candidate-contacts .adress h3 {
        display: flex;
        font-size: 22px;
    }

    .candidate-contacts .adress p {
        display: flex;
        font-size: 18px;
    }

    .botton {
        display: flex;
        margin-right: 15%;
        margin-top: -80%;
    }

}

@media (min-width: 1100px) and (max-width: 1339px) {

    .container header {
        height: 30%;
        display: flex;
    }

    .candidate-image {
        max-width: 48%;
        display: flex;
        margin: 0 0 0 4%;

    }

    .candidate-image img {
        display: flex;
    }

    .candidate-personal-info {
        display: flex;
        width: 40%;
        padding-right: 9.5%;

    }

    .candidate-personal-info .candidate-name h1 {
        display: flex;
        margin: 0;
        font-size: 31px;
        font-weight: 700;
    }

    .candidate-personal-info .candidate-name h2 {
        display: flex;
        font-size: 23px;
    }

    .candidate-contacts .phone-mail h3 {
        display: flex;
        font-size: 22px;
    }

    .candidate-contacts .phone-mail p {
        display: flex;
        font-size: 18px;
    }

    .candidate-contacts .adress {
        display: flex;
        margin-left: 25%;
    }

    .candidate-contacts .adress h3 {
        display: flex;
        font-size: 22px;
    }

    .candidate-contacts .adress p {
        display: flex;
        font-size: 18px;
    }

    .botton {
        display: flex;
        margin-top: -85%;
        margin-left: 75%;
    }

    .education-hobby {
        display: flex;
        width: 41%;
        margin: 0 0 0 4%;
        background-color: #f8eed2d6;
        padding-left: 5%;
    }

    .education-hobby h1 {
        display: flex;
        font-size: 28px;
    }

    .candidate-education .itvdn h3 {
        display: flex;
        font-size: 20px;
        margin-top: 10%;
        margin-bottom: 0;
    }

    .education-hobby p {
        display: flex;
        font-size: 18px;
    }

    .candidate-education .university h3 {
        display: flex;
        font-size: 20px;
    }

    .candidate-hobby h1 {
        display: flex;
        font-size: 28px;
    }

    .candidate-hobby p {
        display: flex;
        font-size: 18px;
    }

    .candidate-social-media h1 {
        display: flex;
        font-size: 28px;
    }

    .candidate-experience {
        display: flex;
        flex-direction: column;
        padding-right: 5%;
    }

    .candidate-experience h1 {
        display: flex;
        font-size: 28px;
    }

    .candidate-current-job .candidate-current-job-name h3 {
        display: flex;
        font-size: 20px;
    }

    .candidate-current-job-name p {
        display: flex;
        font-size: 18px;
        margin-top: 25%;
    }

    .candidate-current-job-description h3 {
        display: flex;
        font-size: 20px;
    }

    .candidate-current-job-description p {
        display: flex;
        font-size: 18px;
        margin-top: 3%;

    }

    .candidate-previous-job-name h3 {
        display: flex;
        font-size: 20px;
    }

    .candidate-previous-job-name p {
        display: flex;
        font-size: 18px;
        margin-top: 5%;
    }

    .candidate-previous-job-description h3 {
        display: flex;
        font-size: 20px;
        margin-top: 5%;

    }

    .candidate-previous-job-description p {
        display: flex;
        font-size: 18px;
        margin-top: 3%;

    }

    .candidate-programming-skills h1 {
        display: flex;
        font-size: 28px;
    }

    .candidate-programming-skills-html h3 {
        display: flex;
        font-size: 20px;
    }

    .candidate-programming-skills-css h3 {
        display: flex;
        font-size: 20px;
    }

    .candidate-programming-skills-js h3 {
        display: flex;
        font-size: 20px;
    }

    .candidate-skills .candidate-language-skills {
        display: flex;
        padding-right: 49%;
    }
}

@media (min-width: 890px) and (max-width: 1099px) {

    .container header {
        height: 30%;
        display: flex;
    }

    .candidate-image {
        max-width: 48%;
        display: flex;
    }

    .candidate-image img {
        display: flex;
    }

    .candidate-personal-info {
        display: flex;
        width: 35.5%;
    }

    .candidate-personal-info .candidate-name h1 {
        display: flex;
        margin: 0;
        font-size: 28px;
        font-weight: 700;
    }

    .candidate-personal-info .candidate-name h2 {
        display: flex;
        font-size: 26px;
    }

    .candidate-contacts .phone-mail h3 {
        display: flex;
        font-size: 22px;
    }

    .candidate-contacts .phone-mail p {
        display: flex;
        font-size: 18px;
    }

    .candidate-contacts .adress h3 {
        display: flex;
        font-size: 22px;
    }

    .candidate-contacts .adress p {
        display: flex;
        font-size: 18px;
    }

    .botton {
        display: flex;
        margin-left: -9%;
        margin-top: -60%;
    }

    .candidate-skills .candidate-language-skills {
        display: flex;
        padding-right: 37%;
    }
}

@media (min-width: 768px) and (max-width: 889px) {
    .container header {
        height: 30%;
        display: flex;
    }

    .candidate-image {
        max-width: 48%;
        display: flex;
    }

    .candidate-image img {
        height: 85%;
        display: flex;
    }

    .candidate-personal-info {
        display: flex;
        width: 38%;
    }

    .candidate-personal-info .candidate-name h1 {
        display: flex;
        margin: 0;
        font-size: 26px;
        font-weight: 700;
    }

    .candidate-personal-info .candidate-name h2 {
        display: flex;
        font-size: 24px;
    }

    .candidate-personal-info .candidate-contacts {
        display: flex;
        margin-top: 0;
    }

    .candidate-contacts .phone-mail h3 {
        display: flex;
        font-size: 22px;
    }

    .candidate-contacts .phone-mail p {
        display: flex;
        font-size: 17px;
    }

    .candidate-contacts .adress {
        display: flex;
        margin-left: 15%;
    }

    .candidate-contacts .adress h3 {
        display: flex;
        font-size: 22px;
    }

    .candidate-contacts .adress p {
        display: flex;
        font-size: 17px;
    }

    .botton {
        display: flex;
        margin-left: -5%;
        margin-top: -50%;
    }

    .education-hobby {
        display: flex;
        width: 43%;
        padding-left: 5%;
    }

    .education-hobby h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-education .itvdn h3 {
        display: flex;
        font-size: 18px;
        margin-top: 10%;
        margin-bottom: 0;
    }

    .education-hobby p {
        display: flex;
        font-size: 16px;
    }

    .candidate-education .university h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-hobby h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-hobby p {
        display: flex;
        font-size: 16px;
    }

    .candidate-social-media h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-work-experience {
        display: flex;
        margin-bottom: 0.5%;
    }

    .candidate-experience h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-current-job .candidate-current-job-name h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-current-job-name p {
        display: flex;
        font-size: 16px;
        margin-top: 25%;
    }

    .candidate-current-job-description h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-current-job-description p {
        display: flex;
        font-size: 16px;
        margin-top: 3%;
    }

    .candidate-previous-job-name h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-previous-job-name p {
        display: flex;
        font-size: 16px;
        margin-top: 5%;
    }

    .candidate-previous-job-description h3 {
        display: flex;
        font-size: 18px;
        margin-top: 5%;
    }

    .candidate-previous-job-description p {
        display: flex;
        font-size: 16px;
        margin-top: 3%;
    }

    .candidate-programming-skills h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-programming-skills-html h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-programming-skills-css h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-programming-skills-js h3 {
        display: flex;
        font-size: 18px;
    }


    .candidate-skills .candidate-language-skills {
        display: flex;
        padding-left: 5%;
    }

    .candidate-language-skills h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-skills .candidate-language-skills .language-eng h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-skills .candidate-language-skills .language-eng p {
        display: flex;
        font-size: 16px;
        padding-right: 0;
    }

    .candidate-skills .candidate-language-skills .language-ukr h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-skills .candidate-language-skills .language-ukr p {
        display: flex;
        width: 100%;
        font-size: 16px;
        padding-right: 0;
    }

    .candidate-skills .candidate-language-skills .language-rus h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-skills .candidate-language-skills .language-rus p {
        display: flex;
        font-size: 16px;
        padding-right: 0;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .container header {
        height: 30%;
        display: flex;
    }

    .candidate-image {
        max-width: 48%;
        display: flex;
    }

    .candidate-image img {
        height: 80%;
        display: flex;
    }

    .candidate-personal-info {
        display: flex;
        width: 38%;
    }

    .candidate-personal-info .candidate-name h1 {
        display: flex;
        margin: 0;
        font-size: 24px;
        font-weight: 700;
    }

    .candidate-personal-info .candidate-name h2 {
        display: flex;
        font-size: 22px;
    }

    .candidate-personal-info .candidate-contacts {
        display: flex;
        margin-top: 0;
    }

    .candidate-contacts .phone-mail h3 {
        display: flex;
        font-size: 20px;
    }

    .candidate-contacts .phone-mail p {
        display: flex;
        font-size: 16px;
    }

    .candidate-contacts .adress {
        display: flex;
        margin-left: 15%;
    }

    .candidate-contacts .adress h3 {
        display: flex;
        font-size: 20px;
    }

    .candidate-contacts .adress p {
        display: flex;
        font-size: 16px;
    }

    .botton {
        display: flex;
        margin-left: -10%;
        margin-top: -50%;
    }

    .education-hobby {
        display: flex;
        width: 43%;
        padding-left: 5%;
    }

    .education-hobby h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-education .itvdn h3 {
        display: flex;
        font-size: 18px;
        margin-top: 10%;
        margin-bottom: 0;
    }

    .education-hobby p {
        display: flex;
        font-size: 16px;
    }

    .candidate-education .university h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-hobby h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-hobby p {
        display: flex;
        font-size: 16px;
    }

    .candidate-social-media h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-work-experience {
        display: flex;
        margin-bottom: 0.5%;
    }

    .candidate-experience h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-current-job .candidate-current-job-name h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-current-job-name p {
        display: flex;
        font-size: 16px;
        margin-top: 25%;
    }

    .candidate-current-job-description h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-current-job-description p {
        display: flex;
        font-size: 16px;
        margin-top: 3%;
    }

    .candidate-previous-job-name h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-previous-job-name p {
        display: flex;
        font-size: 16px;
        margin-top: 5%;
    }

    .candidate-previous-job-description h3 {
        display: flex;
        font-size: 18px;
        margin-top: 5%;
    }

    .candidate-previous-job-description p {
        display: flex;
        font-size: 16px;
        margin-top: 3%;
    }

    .candidate-programming-skills h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-programming-skills-html h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-programming-skills-css h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-programming-skills-js h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-skills .candidate-language-skills {
        display: flex;
        padding-left: 5%;
    }

    .candidate-language-skills h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-skills .candidate-language-skills .language-eng h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-skills .candidate-language-skills .language-eng p {
        display: flex;
        font-size: 16px;
        padding-right: 0;
    }

    .candidate-skills .candidate-language-skills .language-ukr h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-skills .candidate-language-skills .language-ukr p {
        display: flex;
        width: 100%;
        font-size: 16px;
        padding-right: 0;
    }

    .candidate-skills .candidate-language-skills .language-rus h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-skills .candidate-language-skills .language-rus p {
        display: flex;
        font-size: 16px;
        padding-right: 0;
    }
}

@media (min-width: 480px) and (max-width: 599px) {
    .header {
        height: 30%;
        display: flex;
    }

    .candidate-image {
        max-width: 48%;
        display: flex;
    }

    .candidate-image img {
        height: 80%;
        display: flex;
    }

    .candidate-personal-info {
        display: flex;
        width: 38%;
    }

    .candidate-personal-info .candidate-name h1 {
        display: flex;
        margin: 0;
        font-size: 24px;
        font-weight: 700;
    }

    .candidate-personal-info .candidate-name h2 {
        display: flex;
        font-size: 18px;
        margin-bottom: 0;;
    }

    .candidate-personal-info .candidate-contacts {
        display: flex;
        margin-top: 0;
    }

    .candidate-contacts .phone-mail h3 {
        display: flex;
        font-size: 19px;
    }

    .candidate-contacts .phone-mail p {
        display: flex;
        font-size: 16px;
    }

    .candidate-contacts .adress {
        display: flex;
        margin-left: 15%;
    }

    .candidate-contacts .adress h3 {
        display: flex;
        font-size: 19px;
    }

    .candidate-contacts .adress p {
        display: flex;
        font-size: 16px;
    }

    .botton {
        display: flex;
        margin-left: -20%;
        margin-top: -50%;
    }

    .education-hobby {
        display: flex;
        width: 43%;
        padding-left: 5%;
    }

    .education-hobby h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-education .itvdn h3 {
        display: flex;
        font-size: 18px;
        margin-top: 10%;
        margin-bottom: 0;
    }

    .education-hobby p {
        display: flex;
        font-size: 16px;
    }

    .candidate-education .university h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-hobby h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-hobby p {
        display: flex;
        font-size: 16px;
    }

    .candidate-social-media h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-work-experience {
        display: flex;
        margin-bottom: 0.5%;
    }

    .candidate-experience h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-current-job .candidate-current-job-name h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-current-job-name p {
        display: flex;
        font-size: 16px;
        margin-top: 25%;
    }

    .candidate-current-job-description h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-current-job-description p {
        display: flex;
        font-size: 16px;
        margin-top: 3%;
    }

    .candidate-previous-job-name h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-previous-job-name p {
        display: flex;
        font-size: 16px;
        margin-top: 5%;
    }

    .candidate-previous-job-description h3 {
        display: flex;
        font-size: 18px;
        margin-top: 5%;
    }

    .candidate-previous-job-description p {
        display: flex;
        font-size: 16px;
        margin-top: 3%;
    }

    .candidate-programming-skills h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-programming-skills-html h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-programming-skills-css h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-programming-skills-js h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-skills .candidate-language-skills {
        display: flex;
        /* padding-right: 37%; */
        padding-left: 5%;
        /* padding: 0; */
    }

    .candidate-language-skills h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-skills .candidate-language-skills .language-eng h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-skills .candidate-language-skills .language-eng p {
        display: flex;
        font-size: 16px;
        padding-right: 0;
    }

    .candidate-skills .candidate-language-skills .language-ukr h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-skills .candidate-language-skills .language-ukr p {
        display: flex;
        width: 100%;
        font-size: 16px;
        padding-right: 0;
    }

    .candidate-skills .candidate-language-skills .language-rus h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-skills .candidate-language-skills .language-rus p {
        display: flex;
        font-size: 16px;
        padding-right: 0;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .header {
        height: 30%;
        display: flex;
        flex-direction: column;
    }

    .candidate-image {
        max-width: 48%;
        display: flex;
    }

    .candidate-image img {
        height: 80%;
        display: flex;
    }

    .candidate-personal-info {
        display: flex;
        width: 38%;
    }

    .candidate-personal-info .candidate-name h1 {
        display: flex;
        margin: 0;
        font-size: 24px;
        font-weight: 700;
    }

    .candidate-personal-info .candidate-name h2 {
        display: flex;
        font-size: 18px;
        margin-bottom: 0;;
    }

    .candidate-personal-info .candidate-contacts {
        display: flex;
        margin-top: 0;
    }

    .candidate-contacts .phone-mail h3 {
        display: flex;
        font-size: 19px;
    }

    .candidate-contacts .phone-mail p {
        display: flex;
        font-size: 16px;
    }

    .candidate-contacts .adress {
        display: flex;
        margin-left: 15%;
    }

    .candidate-contacts .adress h3 {
        display: flex;
        font-size: 19px;
    }

    .candidate-contacts .adress p {
        display: flex;
        font-size: 16px;
    }

    .botton {
        display: flex;
        margin-left: -20%;
        margin-top: -50%;
    }

    main {
        display: flex;
        flex-direction: column;
    }
    .education-hobby {
        display: flex;
        width: 100%;
        margin-left: 0;
    }

    .education-hobby h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-education .itvdn h3 {
        display: flex;
        font-size: 18px;
        margin-top: 10%;
        margin-bottom: 0;
    }

    .education-hobby p {
        display: flex;
        font-size: 16px;
    }

    .candidate-education .university h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-hobby h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-hobby p {
        display: flex;
        font-size: 16px;
    }

    .candidate-social-media h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-work-experience {
        display: flex;
        margin-bottom: 0.5%;
    }

    .candidate-experience h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-current-job .candidate-current-job-name h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-current-job-name p {
        display: flex;
        font-size: 16px;
        margin-top: 25%;
    }

    .candidate-current-job-description h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-current-job-description p {
        display: flex;
        font-size: 16px;
        margin-top: 3%;
    }

    .candidate-previous-job-name h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-previous-job-name p {
        display: flex;
        font-size: 16px;
        margin-top: 5%;
    }

    .candidate-previous-job-description h3 {
        display: flex;
        font-size: 18px;
        margin-top: 5%;
    }

    .candidate-previous-job-description p {
        display: flex;
        font-size: 16px;
        margin-top: 3%;
    }

    .candidate-programming-skills h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-programming-skills-html h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-programming-skills-css h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-programming-skills-js h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-skills .candidate-language-skills {
        display: flex;
        padding-left: 5%;
    }

    .candidate-language-skills h1 {
        display: flex;
        font-size: 24px;
    }

    .candidate-skills .candidate-language-skills .language-eng h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-skills .candidate-language-skills .language-eng p {
        display: flex;
        font-size: 16px;
        padding-right: 0;
    }

    .candidate-skills .candidate-language-skills .language-ukr h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-skills .candidate-language-skills .language-ukr p {
        display: flex;
        width: 100%;
        font-size: 16px;
        padding-right: 0;
    }

    .candidate-skills .candidate-language-skills .language-rus h3 {
        display: flex;
        font-size: 18px;
    }

    .candidate-skills .candidate-language-skills .language-rus p {
        display: flex;
        font-size: 16px;
        padding-right: 0;
    }
}